/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.placeholder{
	-fx-text-fill:lime;
}

 
 .booksMain{
-fx-background-image: url('../../img/slider.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size : 181px 500px;
}